* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    color: antiquewhite
  }
  
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Koulen&family=Lobster&family=Macondo&family=Slabo+27px&family=Source+Serif+Pro&display=swap');
  body {
    background: var(--background);
    font-family: 'Inknut Antiqua', serif;
    font-family: 'Ravi Prakash', cursive;
    font-family: 'Lora', serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Cabin', sans-serif;
  }
  :root{
      --background:rgb(10, 10, 10);
  }
  div.container {
    max-width: 450px;
    margin: 0 auto;
    overflow: hidden;
   

  }
 
  .container .item {
    width: 100%;
    padding: 0 10px;
    background: rgb(149, 97, 149);
    overflow: hidden;
    /* margin: 10px */
  }
  .container .item-up, .container .item-down {
    /* float: left; */
    padding: 20px 
  }
  .container .item-up {
    /* padding: 39px 10px;  */
    margin-right: 20px;
    width: 100%;
    position: relative;
    height: 486px
  }
  .up-border
  {
    padding: 25px 25px;
  
    border-radius: 50%;
    position: absolute
}
.down-border {
      padding: 25px 25px;
    
      border-radius: 50%;
      position: absolute
  }
 .up-border {
    bottom: 206px;
    right: 30px;
  }
  .down-border {
    bottom: 206px;
    right: 350px;
  }
  .container .item-up .num {
    font-size: 60px;
    text-align: center;
    color: rgb(42, 39, 39)
  }
  .container .item-up .day, .container .item-left .event {
    color: #555;
 
    margin-bottom: 9px;
  }
  .container .item-up .day {
    /* text-align: center; */
    font-size: 25px;
  }
  .container .item-down {
    width: 100%;
    padding: 95px 0px 19px 46px;
  border-top: 3px dotted rgb(240, 231, 231);
  } 
  .container .item-down .title {
    color: #111;
    font-size: 34px;
    margin-bottom: 12px
  }
  .container .item-down .sce {
    margin-top: 5px;
    display: block
  }
  .container .item-down .sce .icon, .container .item-down .sce p,
  .container .item-down .loc .icon, .container .item-down .loc p{
      float: left;
      word-spacing: 5px;
      letter-spacing: 1px;
      color: #888;
      margin-bottom: 10px;
  }
  .container .item-down.sce .icon, .container .item-down.loc .icon {
    margin-right: 10px;
    font-size: 20px;
    color: #666
  }
  .container .item-down.loc {display: block}
  .fix {clear: both}
  .container .item .tickets, .booked, .cancel{
      color: #fff;
      padding: 6px 14px;
      float: right;
      margin-top: 10px;
      font-size: 18px;
      border: none;
      cursor: pointer
  }
 
  .linethrough {text-decoration: line-through}
  @media only screen and (max-width: 1150px) {
    .container .item {
      width: 100%;
      margin-right: 20px
    }
    div.container {
      margin: 0 20px auto
    }
  }